.heading-26,
.it-is-a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-26 {
  top: -2px;
  left: 407.61px;
  line-height: 65px;
  font-weight: 800;
  width: 324.98px;
  height: 68px;
}
.it-is-a {
  top: 70px;
  left: 353.75px;
  font-size: 16px;
  line-height: 32px;
  color: #868894;
  width: 432.68px;
  height: 22px;
}
.divtitle-box5,
.icon4 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 1140px;
  height: 97px;
}
.icon4 {
  top: 120px;
  left: 93.75px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.heading-59 {
  position: absolute;
  top: 136px;
  left: 60.19px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142.33px;
  height: 33px;
}
.lorem-ipsum-is {
  margin: 0;
}
.lorem-ipsum-is-container1 {
  line-break: anywhere;
  width: 100%;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 5px;
  left: 0.97px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 200.76px;
  height: 54px;
}
.pmb-0 {
  position: absolute;
  top: 168.19px;
  left: 30px;
  width: 202.5px;
  height: 64px;
  font-size: 16px;
  color: #868894;
}
.diviq-services,
.heading-510 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 262.5px;
  height: 277.19px;
}
.heading-510 {
  top: 136px;
  left: 80.02px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102.65px;
  height: 33px;
}
.diviq-services1,
.heading-511 {
  position: absolute;
  top: 0;
  left: 307.5px;
  width: 262.5px;
  height: 277.19px;
}
.heading-511 {
  top: 136px;
  left: 105.58px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51.54px;
  height: 33px;
}
.diviq-services2,
.heading-512 {
  position: absolute;
  top: 0;
  left: 600px;
  width: 262.5px;
  height: 277.19px;
}
.heading-512 {
  top: 136px;
  left: 89.41px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83.89px;
  height: 33px;
}
.diviq-services3,
.heading-513 {
  position: absolute;
  top: 0;
  left: 892.5px;
  width: 262.5px;
  height: 277.19px;
}
.heading-513 {
  top: 136px;
  left: 78.38px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105.93px;
  height: 33px;
}
.diviq-services4,
.heading-514 {
  position: absolute;
  top: 307.19px;
  left: 15px;
  width: 262.5px;
  height: 277.19px;
}
.heading-514 {
  top: 136px;
  left: 86.41px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.87px;
  height: 33px;
}
.diviq-services5,
.heading-515 {
  position: absolute;
  top: 307.19px;
  left: 307.5px;
  width: 262.5px;
  height: 277.19px;
}
.heading-515 {
  top: 136px;
  left: 65.88px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130.95px;
  height: 33px;
}
.diviq-services6,
.heading-516 {
  position: absolute;
  top: 307.19px;
  left: 600px;
  width: 262.5px;
  height: 277.19px;
}
.heading-516 {
  top: 136px;
  left: 90.09px;
  line-height: 31.2px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.51px;
  height: 33px;
}
.diviq-services7 {
  position: absolute;
  top: 307.19px;
  left: 892.5px;
  width: 262.5px;
  height: 277.19px;
}
.divcontainer9,
.divrow8 {
  position: absolute;
  width: 1170px;
}
.divrow8 {
  top: 172px;
  left: 0;
  height: 584.38px;
  font-size: 24px;
}
.divcontainer9 {
  top: 0;
  left: calc(50% - 585px);
  height: 756.38px;
}
.solutions {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  display: none;
  text-align: center;
  font-size: 50px;
  color: #12203c;
  font-family: "Open Sans";
}
