.ellios-edge2 {
  color: #f14544;
}
.copyrights-2018-container5 {
  line-break: anywhere;
  width: 100%;
}
.copyrights-2018-container4 {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 248px;
  height: 22px;
}
.divmt-32 {
  position: absolute;
  top: 174px;
  left: 0;
  width: 360px;
  height: 32px;
}
.service-limited4 {
  position: absolute;
  width: 24.17%;
  top: -35.92%;
  left: 4.72%;
  font-size: 11px;
  font-family: "Nanum Gothic";
  display: inline-block;
  white-space: nowrap;
}
.group-icon4,
.layer-1-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer-1-icon2 {
  height: 36.41%;
  width: 20.83%;
  top: -83.98%;
  right: 72.78%;
  bottom: 147.57%;
  left: 6.39%;
  cursor: pointer;
}
.group-icon4 {
  height: 6.97%;
  width: 33.61%;
  top: -42.72%;
  right: 66.39%;
  bottom: 135.75%;
  left: 0;
}
.divlogo2,
.heading-56 {
  position: absolute;
  top: 207px;
  left: 49px;
  width: 360px;
  height: 206px;
}
.heading-56 {
  top: -1px;
  left: 15px;
  line-height: 31.2px;
  display: flex;
  align-items: center;
  width: 64.7px;
  height: 33px;
  cursor: pointer;
}
.item-link28,
.item-link29,
.item-link30,
.item-link31 {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 45.42px;
  height: 22px;
}
.item-link29,
.item-link30,
.item-link31 {
  top: 37px;
  width: 68.7px;
}
.item-link30,
.item-link31 {
  top: 69px;
  width: 81.12px;
}
.item-link31 {
  top: 101px;
  width: 100.29px;
}
.list9 {
  position: absolute;
  top: 55.19px;
  left: 15px;
  width: 165px;
  height: 128px;
  font-size: 16px;
}
.divcol-lg-22 {
  position: absolute;
  width: calc(100% - 975px);
  top: -26px;
  right: 343px;
  left: 726px;
  height: 230.19px;
}
.heading-57 {
  position: absolute;
  top: -1px;
  left: 48px;
  line-height: 31.2px;
  display: flex;
  align-items: center;
  width: 100.17px;
  height: 33px;
}
.item-link32,
.item-link33,
.item-link34,
.item-link35 {
  position: absolute;
  top: 4.81px;
  left: 0;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 81px;
  height: 22px;
}
.item-link33,
.item-link34,
.item-link35 {
  top: 36.81px;
  width: 94px;
}
.item-link34,
.item-link35 {
  top: 68.81px;
  width: 104px;
}
.item-link35 {
  top: 100.81px;
  width: 90px;
}
.list10 {
  position: absolute;
  top: 55.19px;
  left: 48px;
  width: 229.5px;
  height: 128px;
  font-size: 16px;
}
.divcol-lg-32 {
  position: absolute;
  width: calc(100% - 877.5px);
  top: -26px;
  right: 50.5px;
  left: 1054px;
  height: 230.19px;
  cursor: pointer;
}
.heading-58 {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 31.2px;
  display: flex;
  align-items: center;
  width: 118.81px;
  height: 33px;
}
.div6,
.div7 {
  position: absolute;
  top: -7px;
  left: -35px;
  line-height: 35px;
}
.div7 {
  top: -6px;
  left: 0;
  font-size: 14px;
  line-height: 32px;
}
.item-link36 {
  position: absolute;
  top: 6px;
  left: 40px;
  width: 95.33px;
  height: 19px;
}
.infoelliosedgecom2 {
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 14px;
  text-decoration: underline;
  line-height: 32px;
  color: inherit;
}
.item-link37 {
  position: absolute;
  top: 51px;
  left: 40px;
  width: 100.64px;
  height: 19px;
}
.item-list2,
.list11 {
  position: absolute;
  top: 120px;
  left: 5px;
  width: 262.5px;
  height: 1px;
}
.list11 {
  top: 55.19px;
  left: 0;
  font-size: 18px;
}
.divcontact-bg2,
.we-are-a2 {
  position: absolute;
  top: -26px;
  left: 1474.5px;
  width: 262.5px;
  height: 31.19px;
}
.we-are-a2 {
  top: 26px;
  left: 174px;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 535px;
  height: 81px;
}
.divrow7 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 1170px;
  height: 230.19px;
}
.divcontainer7 {
  position: absolute;
  top: 68px;
  left: calc(50% - 955px);
  width: 1465px;
  height: 363px;
  font-size: 24px;
}
.footer2 {
  position: absolute;
  top: 1412px;
  left: 0;
  background-color: #333;
  width: 100%;
  height: 444px;
}
.item-child {
  position: initial;
  top: -14px;
  left: calc(50% - 720.5px);
  background-color: #0a1b30;
  width: 100%;
  height: 218px;
}
.home2 {
  position: relative;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 45px;
  flex-shrink: 0;
}
.item-link38 {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0.5900001525878906px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.item-link39,
.item-link40,
.item-link41 {
  position: absolute;
  top: 0;
  left: 105.59px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
}
.item-link40,
.item-link41 {
  left: 330px;
  cursor: pointer;
}
.item-link41 {
  left: 214px;
}
.list13 {
  position: absolute;
  top: calc(50% - 354.5px);
  right: 106px;
  width: 457px;
  height: 32px;
}
.ellios-edges-letters2,
.group-icon5 {
  position: absolute;
  height: 64.2%;
  width: 57.08%;
  top: 0;
  right: 21.49%;
  bottom: 35.8%;
  left: 21.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellios-edges-letters2 {
  height: 12.81%;
  width: 100%;
  top: 73.19%;
  right: 0;
  bottom: 14%;
  left: 0;
}
.service-limited5 {
  position: absolute;
  height: 11.54%;
  width: 60.42%;
  top: 88.46%;
  left: 19.44%;
  display: inline-block;
  white-space: nowrap;
}
.the-logo2 {
  position: absolute;
  height: 14.59%;
  width: 9.63%;
  top: 4.71%;
  right: 82.41%;
  bottom: 80.7%;
  left: 7.96%;
  cursor: pointer;
  font-size: 11px;
  font-family: "Nanum Gothic";
}
.list12,
.main2 {
  position: absolute;
  overflow: hidden;
}
.list12 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main2 {
  width: calc(100% + 55px);
  top: -14px;
  right: -18px;
  left: -37px;
  height: 891px;
  font-size: 14px;
}
.over-30-years1 {
  position: absolute;
  top: 48.91px;
  left: 320.5px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 498px;
  height: 43px;
}
.divtitle-box4 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 1140px;
  height: 97px;
  font-size: 21px;
}
.pseudo14 {
  position: absolute;
  top: 19px;
  left: 59px;
  border-radius: 90px;
  background-color: #12203c;
  width: 83px;
  height: 83px;
}
.application-and-database1 {
  position: absolute;
  top: -19px;
  left: 8px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 52px;
}
.link-read3,
.p3 {
  position: absolute;
}
.link-read3 {
  top: 45px;
  left: calc(50% - 36px);
  font-size: 12px;
  line-height: 32px;
  text-transform: capitalize;
  color: #f14544;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 12px;
}
.p3 {
  top: 15px;
  left: calc(50% - 117px);
  width: 234px;
  height: 76px;
}
.divinfo-box3,
.heading-42 {
  position: absolute;
  top: 193px;
  left: calc(50% - 84px);
  width: 168px;
  height: 106px;
}
.heading-42 {
  top: 161px;
  left: calc(50% - 122px);
  font-size: 24px;
  line-height: 33.8px;
  font-weight: 800;
  color: #12203c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 18px;
}
.recovery-shield-solid-svgrepo-icon1 {
  position: absolute;
  top: 59px;
  left: 95px;
  width: 62px;
  height: 62px;
  overflow: hidden;
}
.diviq-challange-box3 {
  position: absolute;
  top: 70px;
  left: calc(50% - 127px);
  border-radius: 5px;
  background-color: #fff;
  border-top: 2px dashed #12203c;
  border-right: 2px dashed #12203c;
  border-left: 2px dashed #12203c;
  box-sizing: border-box;
  width: 254px;
  height: 332px;
}
.pseudo16,
.pseudo17 {
  position: absolute;
  top: 0;
  left: 0.44px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  width: 130.19px;
  height: 1.69px;
  transform: rotate(15deg);
  transform-origin: 0 0;
}
.pseudo17 {
  top: 2px;
  left: 255.75px;
  transform: rotate(165deg);
}
.divrow-21,
.pseudo15 {
  position: absolute;
  top: 400px;
  left: 254px;
  width: 256.19px;
  height: 37.32px;
}
.divrow-21 {
  top: 108px;
  left: 205px;
  width: 764px;
  height: 481px;
  color: #434343;
}
.pseudo18 {
  position: absolute;
  top: 19px;
  left: 59px;
  border-radius: 90px;
  background-color: #f2f2f2;
  width: 83px;
  height: 83px;
}
.analytics-icon1 {
  position: absolute;
  top: 24px;
  left: 67px;
  width: 66px;
  height: 66px;
  overflow: hidden;
}
.analytics-it1 {
  margin: 0;
}
.heading-4-container2 {
  position: absolute;
  top: 161px;
  left: calc(50% - 134px);
  font-size: 24px;
  line-height: 22.3px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  width: 267px;
  height: 18px;
}
.diviq-challange-box4 {
  position: absolute;
  top: 70px;
  left: calc(50% - 127px);
  border-radius: 5px;
  background-color: #12203c;
  border-top: 2px dashed #fff;
  border-right: 2px dashed #fff;
  border-left: 2px dashed #fff;
  box-sizing: border-box;
  width: 254px;
  height: 332px;
}
.pseudo20,
.pseudo21 {
  position: absolute;
  top: 0;
  left: 0.44px;
  border: 1px dashed #12203c;
  box-sizing: border-box;
  width: 130.19px;
  height: 1.69px;
  transform: rotate(15deg);
  transform-origin: 0 0;
}
.pseudo21 {
  top: 2px;
  left: 255.75px;
  transform: rotate(165deg);
}
.divrow-11 {
  position: absolute;
  top: 108px;
  left: -281px;
  width: 764px;
  height: 481px;
  color: #e2e2e2;
}
.diviq-challange-img-icon {
  position: absolute;
  top: 29px;
  left: calc(50% - 101px);
  width: 202px;
  height: 122px;
}
.our-team-of {
  top: 13px;
  left: 8px;
  line-height: 15px;
  width: 227px;
  height: 52px;
}
.heading-43,
.link-read5,
.our-team-of {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-read5 {
  top: 85px;
  left: calc(50% - 36px);
  font-size: 12px;
  line-height: 32px;
  text-transform: capitalize;
  color: #f14544;
  width: 72px;
  height: 12px;
}
.heading-43 {
  top: 161px;
  left: calc(50% - 122px);
  font-size: 24px;
  line-height: 23.8px;
  font-weight: 800;
  color: #fff;
  width: 245px;
  height: 18px;
}
.pseudo24 {
  position: absolute;
  top: 3px;
  left: 255.75px;
  border: 1px dashed #12203c;
  box-sizing: border-box;
  width: 130.19px;
  height: 1.69px;
  transform: rotate(165deg);
  transform-origin: 0 0;
}
.divrow-31,
.pseudo22 {
  position: absolute;
  top: 399px;
  left: 254px;
  width: 256.19px;
  height: 38.32px;
}
.divrow-31 {
  top: 108px;
  left: 691px;
  width: 764px;
  height: 481px;
  color: #d8d8da;
}

.divcontainer8 {
  position: absolute;
width: 1170px;
height: 643.8px;
left: calc(50% - 1170px/2 + 0.5px);
top: 100px;
}
.divcontainer9 {
  position: absolute;
  width: 1324px;
  height: 499px;
  left: calc(50% - 717.5px);
  top: 0px;
}
.manage-your-business {
  top: 4px;
  left: 8px;
  line-height: 15px;
  width: 227px;
  height: 52px;
}
.heading-44,
.link-read6,
.manage-your-business {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-read6 {
  top: 75px;
  left: calc(50% - 36px);
  font-size: 12px;
  line-height: 32px;
  text-transform: capitalize;
  color: #f14544;
  width: 72px;
  height: 12px;
}
.heading-44 {
  top: 161px;
  left: calc(50% - 122px);
  font-size: 24px;
  line-height: 21.8px;
  font-weight: 800;
  color: #12203c;
  width: 245px;
  height: 18px;
}
.divrow-4 {
  position: absolute;
  top: 694px;
  left: 339px;
  width: 764px;
  height: 481px;
  color: #434343;
}
.pseudo28 {
  position: absolute;
  top: 19px;
  left: 59px;
  border-radius: 90px;
  background-color: #fff;
  width: 83px;
  height: 83px;
}
.noun-management-1090539-1-icon {
  position: absolute;
  top: 30px;
  left: 68px;
  width: 66px;
  height: 83px;
  overflow: hidden;
}
.its-not-about {
  position: absolute;
  top: -19px;
  left: 7px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 52px;
}
.divinfo-box7,
.heading-45 {
  position: absolute;
  top: 203px;
  left: calc(50% - 84px);
  width: 168px;
  height: 106px;
}
.heading-45 {
  top: 161px;
  left: calc(50% - 134px);
  font-size: 24px;
  line-height: 22.3px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 18px;
}
.divrow-5 {
  position: absolute;
  top: 694px;
  left: -147px;
  width: 764px;
  height: 481px;
  color: #e6e6e6;
}
.skydrive-svgrepo-com-1-icon1 {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 62px;
  height: 62px;
  overflow: hidden;
}
.heading-46 {
  position: absolute;
  top: 161px;
  left: calc(50% - 122px);
  font-size: 24px;
  line-height: 33.8px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 18px;
}
.divrow-6 {
  position: absolute;
  top: 694px;
  left: 825px;
  width: 764px;
  height: 481px;
  color: #efefef;
}
.heading-25 {
  position: absolute;
  top: 31.91px;
  left: calc(50% - 402.5px);
  font-size: 85px;
  line-height: 65px;
  display: flex;
  color: #12203c;
  align-items: center;
  justify-content: center;
  width: 806px;
  height: 68px;
}
.our-services1 {
  position: absolute;
  top: 261px;
  left: 0;
  background-color: #f8f9fa;
  width: 100%;
  height: 1175px;
  text-align: center;
  font-size: 10px;
  color: #868894;
}
.wireframe-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1841px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans";
}
